@mixin rounded_corner {
  -webkit-border-radius: $round;
  border-radius: $round
}

@mixin box {
  background: grey;
  padding: 2.5%;
  padding-top: 10px;
  padding-bottom: 20px;
  border: solid 2px black;
  @include rounded_corner;
}
